<pre>
<span class="title">Nadie encuentra lo que buca</span>
<span class="subtitle">Letra y música: José Ignacio Lapido</span>

<span class="c">Según la versión de Javier de Torres y Quique González</span>

<div class="sot">
| A | A |
</div>

<a href="#" class="chord" title="Posici&oacute;n del acorde A">A</a>            <a href="#" class="chord" title="Posici&oacute;n del acorde F#m">F#m</a>         <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>        <a href="#" class="chord" title="Posici&oacute;n del acorde A">A</a>   
Yo busqué la luz metiéndome en un pozo
             <a href="#" class="chord" title="Posici&oacute;n del acorde F#m">F#m</a>             <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>   <a href="#" class="chord" title="Posici&oacute;n del acorde A">A</a>  
e intenté pintar blanca la oscuridad
   <a href="#" class="chord" title="Posici&oacute;n del acorde Bm">Bm</a>                 <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>            <a href="#" class="chord" title="Posici&oacute;n del acorde C#m">C#m</a> 
te tuve un instante delante de mis ojos
    <a href="#" class="chord" title="Posici&oacute;n del acorde F#m">F#m</a>       <a href="#" class="chord" title="Posici&oacute;n del acorde E">E</a>          <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>   
mis dedos tocaron la soledad.

<div class="soc"><a href="#" class="chord" title="Posici&oacute;n del acorde Bm">Bm</a>             <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>              <a href="#" class="chord" title="Posici&oacute;n del acorde A">A</a>     
Porque nadie encuentra lo que busca,
<a href="#" class="chord" title="Posici&oacute;n del acorde Bm">Bm</a>             <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>              <a href="#" class="chord" title="Posici&oacute;n del acorde A">A</a>     
porque nadie encuentra lo que busca.
</div>

<a href="#" class="chord" title="Posici&oacute;n del acorde A">A</a>             <a href="#" class="chord" title="Posici&oacute;n del acorde F#m">F#m</a>          <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>        <a href="#" class="chord" title="Posici&oacute;n del acorde A">A</a>      
Muchos buscan oro y sólo encuentran piedras
             <a href="#" class="chord" title="Posici&oacute;n del acorde F#m">F#m</a>       <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>          <a href="#" class="chord" title="Posici&oacute;n del acorde A">A</a>  
y he visto lunáticos siguiendo al sol
  <a href="#" class="chord" title="Posici&oacute;n del acorde Bm">Bm</a>                     <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>              <a href="#" class="chord" title="Posici&oacute;n del acorde C#m">C#m</a>   
puñales en la espalda se que traerás de vuelta
   <a href="#" class="chord" title="Posici&oacute;n del acorde F#m">F#m</a>           <a href="#" class="chord" title="Posici&oacute;n del acorde E">E</a>         <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>   
si lo que vas buscando es amor.

<div class="soc"><a href="#" class="chord" title="Posici&oacute;n del acorde Bm">Bm</a>             <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>              <a href="#" class="chord" title="Posici&oacute;n del acorde A">A</a>     
Porque nadie encuentra lo que busca,
<a href="#" class="chord" title="Posici&oacute;n del acorde Bm">Bm</a>             <a href="#" class="chord" title="Posici&oacute;n del acorde D">D</a>              <a href="#" class="chord" title="Posici&oacute;n del acorde A">A</a>     
porque nadie encuentra lo que busca.
</div>

<div class="sot">
| Bm | D | A | (repetir hasta el final)
</div>

<span class="comment"></span>
</pre><div class="chordDescription" id="A"  style="display:none;"><pre>A
  1   2   3   4   5   
o---|---|---|---|---|
|---|-o-|---|---|---|
|---|-o-|---|---|---|
|---|-o-|---|---|---|
o---|---|---|---|---|
x---|---|---|---|---|

</pre></div><div class="staticChordDescription" id="A"  style="display:block;"><pre>A
  1   2   3   4   5   
o---|---|---|---|---|
|---|-o-|---|---|---|
|---|-o-|---|---|---|
|---|-o-|---|---|---|
o---|---|---|---|---|
x---|---|---|---|---|

</pre></div><div class="chordDescription" id="Fm"  style="display:none;"><pre>Fm
  1   2   3   4   5   
|---|-o-|---|---|---|
|---|-o-|---|---|---|
|---|-o-|---|---|---|
|---|---|---|-o-|---|
|---|---|---|-o-|---|
|---|-o-|---|---|---|

</pre></div><div class="staticChordDescription" id="Fm"  style="display:block;"><pre>Fm
  1   2   3   4   5   
|---|-o-|---|---|---|
|---|-o-|---|---|---|
|---|-o-|---|---|---|
|---|---|---|-o-|---|
|---|---|---|-o-|---|
|---|-o-|---|---|---|

</pre></div><div class="chordDescription" id="D"  style="display:none;"><pre>D
  1   2   3   4   5   
|---|-o-|---|---|---|
|---|---|-o-|---|---|
|---|-o-|---|---|---|
o---|---|---|---|---|
x---|---|---|---|---|
x---|---|---|---|---|

</pre></div><div class="staticChordDescription" id="D"  style="display:block;"><pre>D
  1   2   3   4   5   
|---|-o-|---|---|---|
|---|---|-o-|---|---|
|---|-o-|---|---|---|
o---|---|---|---|---|
x---|---|---|---|---|
x---|---|---|---|---|

</pre></div><div class="chordDescription" id="Bm"  style="display:none;"><pre>Bm
  1   2   3   4   5   
|---|-o-|---|---|---|
|---|---|-o-|---|---|
|---|---|---|-o-|---|
|---|---|---|-o-|---|
|---|-o-|---|---|---|
x---|---|---|---|---|

</pre></div><div class="staticChordDescription" id="Bm"  style="display:block;"><pre>Bm
  1   2   3   4   5   
|---|-o-|---|---|---|
|---|---|-o-|---|---|
|---|---|---|-o-|---|
|---|---|---|-o-|---|
|---|-o-|---|---|---|
x---|---|---|---|---|

</pre></div><div class="chordDescription" id="C#m"  style="display:none;"><pre>C#m
  4   5   6   7   8   
|-o-|---|---|---|---|
|---|-o-|---|---|---|
|---|---|-o-|---|---|
|---|---|-o-|---|---|
|-o-|---|---|---|---|
x---|---|---|---|---|

</pre></div><div class="staticChordDescription" id="C#m"  style="display:block;"><pre>C#m
  4   5   6   7   8   
|-o-|---|---|---|---|
|---|-o-|---|---|---|
|---|---|-o-|---|---|
|---|---|-o-|---|---|
|-o-|---|---|---|---|
x---|---|---|---|---|

</pre></div><div class="chordDescription" id="E"  style="display:none;"><pre>E
  1   2   3   4   5   
o---|---|---|---|---|
o---|---|---|---|---|
|-o-|---|---|---|---|
|---|-o-|---|---|---|
|---|-o-|---|---|---|
o---|---|---|---|---|

</pre></div><div class="staticChordDescription" id="E"  style="display:block;"><pre>E
  1   2   3   4   5   
o---|---|---|---|---|
o---|---|---|---|---|
|-o-|---|---|---|---|
|---|-o-|---|---|---|
|---|-o-|---|---|---|
o---|---|---|---|---|

</pre></div>